<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Stockify</title>
    <link href="/webjars/bootstrap/5.2.0/css/bootstrap.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
        header {
            font-family:'Roboto Mono', monospace;
        }
        body {
            font-family:'Roboto Mono', monospace;
            background-color: black;
        }
        footer {
            font-family:'Roboto Mono', monospace;
        }
    </style>
</head>

<body>

    <!-- Barra de navegacion -->
    <header th:fragment="header">
        <nav class="navbar navbar-expand-sm outline-color">
        <style>
            .navbar {
                background-color: black;
            }

            .navbar-nav .nav-link {
                background-color: rgb(255, 174, 0);
                color: black;
                

            }
        </style>
            <div class="container-fluid">
                <a class="navbar-brand" href="/" style="color: rgb(177, 115, 0); text-shadow: white;">Stockify</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav active">
                        <li class="nav-item"><a class="nav-link active" th:href="@{/index}">Inicio</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" role="button"
                                data-bs-toggle="dropdown">Mantenimiento</a>

                            <ul class="dropdown-menu text-center">
                                <li><a class="dropdown-item" href="/views/categories/">Categorias</a></li>
                                <li><a class="dropdown-item" href="/views/providers/">Proveedores</a></li>
                                <li><a class="dropdown-item" href="/views/products/">Productos</a></li>
                                <li><a class="dropdown-item" href="/views/clients/">Clientes</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" role="button"
                                data-bs-toggle="dropdown">Registrar</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/views/venta/">Venta</a></li>
                                <li><a class="dropdown-item" href="/views/clients/form">Cliente</a></li>
                                <li><a class="dropdown-item" href="/views/user/form">Usuario</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" role="button"
                                data-bs-toggle="dropdown">Historial</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/views/reporteVenta/">Venta</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" role="button"
                            data-bs-toggle="dropdown">Usuario</a>
                        <ul class="dropdown-menu dropdown-menu-end bg-black border text-center">
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Settings</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Contenido -->
    <div class="container"></div>

    <!-- Pie de pagina -->
    <footer th:fragment="footer" class="text-center fixed-bottom">
        <div class="container">
            
        </div>
        <script type="text/javascript" src="/webjars/jquery/3.6.1/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/5.2.0/js/bootstrap.min.js"></script>
        <script src="/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js"></script>
    </footer>

</body>

</html>

</ul>
</div>
</nav>
</header>

<!-- Contenido -->
<div class="container"></div>

<!-- Pie de pagina -->
<footer th:fragment="footer" class="text-center fixed-bottom">
    <div class="container">
        <p style="color:white;">Copyright Diego Dominguez &copy; -2023
        </p>
    </div>
    <script type="text/javascript" src="/webjars/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/5.2.0/js/bootstrap.min.js"></script>
    <script src="/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js"></script>
</footer>

</body>

</html>