<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Layout</title>
    <link href="/webjars/bootstrap/5.2.0/css/bootstrap.css" rel="stylesheet" />
    <style>
        body {
            background-image: url('static/img/background.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            /* Otras propiedades CSS, si es necesario */
        }
    </style>
</head>

<body>

    <!-- Barra de navegacion -->
    <header th:fragment="header">
        <nav class="navbar navbar-expand-sm bg-black navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Stockify</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav active">
                        <li class="nav-item"><a class="nav-link active" th:href="@{/index}">Inicio</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" role="button"
                                data-bs-toggle="dropdown">Management</a>

                            <ul class="dropdown-menu text-center">
                                <li><a class="dropdown-item" href="/views/categories/">Categorias</a></li>
                                <li><a class="dropdown-item" href="/views/providers/">Proveedores</a></li>
                                <li><a class="dropdown-item" href="/views/products/">Productos</a></li>
                                <li><a class="dropdown-item" href="/views/clients/">Clientes</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" role="button"
                                data-bs-toggle="dropdown">Registrar</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/views/venta/">Venta</a></li>
                                <li><a class="dropdown-item" href="/views/clients/form">Cliente</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" role="button"
                                data-bs-toggle="dropdown">Generar</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/views/venta/list">Reporte Venta</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link active" href="#">Contact</a></li>
                        <li class="nav-item"><a class="nav-link active" href="#">About us...</a></li>
                    </ul>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" role="button"
                            data-bs-toggle="dropdown">Usuario</a>
                        <ul class="dropdown-menu dropdown-menu-end bg-black border text-center">
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Settings</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Contenido -->
    <div class="container"></div>

    <!-- Pie de pagina -->
    <footer th:fragment="footer" class="text-center fixed-bottom">
        <div class="container">
            <p style="color:white;">Copyright Diego Dominguez &copy; -2023</p>
        </div>
        <script type="text/javascript" src="/webjars/jquery/3.6.1/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/5.2.0/js/bootstrap.min.js"></script>
        <script src="/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js"></script>
    </footer>

</body>

</html>

</ul>
</div>
</nav>
</header>

<!-- Contenido -->
<div class="container"></div>

<!-- Pie de pagina -->
<footer th:fragment="footer" class="text-center fixed-bottom">
    <div class="container">
        <p style="color:white;">Copyright Diego Dominguez &copy; -2023
        </p>
    </div>
    <script type="text/javascript" src="/webjars/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/5.2.0/js/bootstrap.min.js"></script>
    <script src="/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js"></script>
</footer>

</body>

</html>