<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{Layout/template :: head}">

</head>

<body class="bg-dark">
    <header th:replace="~{Layout/template :: header}"> 

    </header>

    <div class="container text-center text-white">
        <h1>Productos</h1>
        <a class="btn btn-success btn-sm" th:href="@{/views/products/add}" th:text="'Nuevo Producto'" title="'Agregar Producto'"></a>
        
        <table class="table text-white table-borderless">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Obtenido</th>
                    <th scope="col">Vencimiento</th>
                    <th scope="col">Proveedor</th>
                    <th scope="col">Costo</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Funciones</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="pd : ${productList} ">
                    <td th:text="${pd.id}"></td>
                    <td th:text="${pd.name}"></td>
                    <td th:text="${pd.category.name}"></td>
                    <td th:text="${pd.dateGetted}"></td>
                    <td th:text="${pd.dateExpired}"></td>
                    <td th:text="${pd.provider.name}"></td>
                    <td th:text="${pd.cost}"></td>
                    <td th:text="${pd.stock}"></td>
                    <td><a class="btn btn-outline-warning btn-sm" th:href="@{/views/products/details/}+${pd.id}" th:text="'Editar'"
                            title="'Editar Registro'"></a>
                        <a class="btn btn-outline-danger btn-sm" th:href="@{/views/products/delete/}+${pd.id}" th:text="'Eliminar'"
                            title="'Borrar Registro'" onclick="return confirm('Seguro de eliminar registro ?');"></a>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    
    
    <footer th:replace="~{Layout/template :: footer}">

    </footer>
</body>

</html>