<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{Layout/template :: head}">

</head>

<body class="bg-black">
    <header th:replace="~{Layout/template :: header}"> 

    </header>

    <div class="d-flex justify-content-center">
        <div class="card shadow rounded mt-5 m-5">
            <div class="card-header bg-black">
                <h1 class="text-center text-warning" th:text="${title}" ></h1>
            </div>
            <div class="card-body bg-dark">
                <div class="d-flex justify-content-center">
                    <a class="btn btn-primary btn-sm" th:href="@{/views/products/add}" th:text="'Registrar'"></a>
                </div>
                <table class="table text-white">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Proveedor</th>
                            <th scope="col">Fecha de Obtencion</th>
                            <th scope="col">Fecha de Caducidad</th>
                            <th scope="col">Existencia</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="pd : ${products}">
                            <td th:text="${pd.id}" class="custom-td"></td>
                            <td th:text="${pd.name}" class="custom-td"></td>
                            <td th:text="${pd.category.name}" class="custom-td"></td>
                            <td th:text="${pd.provider.name}" class="custom-td"></td>
                            <td th:text="${pd.dateGetted}" class="custom-td"></td>
                            <td th:text="${pd.dateExpired}" class="custom-td"></td>
                            <td th:text="${pd.stock}" class="custom-td"></td>
                            <td>
                                <a class="btn btn-warning btn-sm" th:href="@{/views/products/edit/}+${pd.id}" th:text="'Editar'"
                                    title="'Editar Registro'"></a>
                                <a class="btn btn-danger btn-sm" th:href="@{/views/products/delete/}+${pd.id}" th:text="'Borrar'"
                                    title="'Borrar Registro'" onclick="return confirm('Seguro de eliminar registro ?');"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    
    <footer th:replace="~{Layout/template :: footer}">

    </footer>
</body>

</html>