<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{Layout/template :: head}">

</head>

<body class="bg-dark">
    <header th:replace="~{Layout/template :: header}"> 

    </header>

    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="card bg-dark" style="max-width: 350px;">
            <div class="card-header bg-black text-white" th:text="${title}" style="font-size: 16px;"></div>
            <div class="card-body">
                <form th:action="@{/views/providers/save}" th:object="${provider}" method="post">
                    <div class="form-group row mt-3 mb-3">
                        <label class="col-md-4 text-white" for="name">Nombre: </label>
                        <div class="col-md-6">
                            <input type="text" th:field="*{name}" class="form-control form-control-sm bg-black text-white" id="name" placeholder="nombre..." style="font-size: 14px;">
                        </div>
                        <label class="col-md-4 text-white" for="telephone">Telefono: </label>
                        <div class="col-md-6">
                            <input type="text" th:field="*{telephone}" class="form-control form-control-sm bg-black text-white" id="telephone" placeholder="0981111111" style="font-size: 14px;">
                        </div>
                    </div>
                    <div class="form-group row mt-3 mb-3">
                        <div class="col-md-4"></div>
                        <div class="col-md-8">
                            <input type="submit" class="btn btn-success btn-sm" value="Guardar" style="font-size: 14px;" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer th:replace="~{Layout/template :: footer}">

    </footer>
</body>

</html>