<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{Layout/template :: head}">

</head>

<body class="bg-dark">
    <header th:replace="~{Layout/template :: header}"> 

    </header>

    <div class="container text-center text-white">
        <h1>Proveedores</h1>
        <a class="btn btn-success btn-sm" th:href="@{/views/providers/add}" th:text="'Nuevo Proveedor'" title="'Agregar Proveedor'"></a>
        
        <table class="table text-white table-borderless">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Fecha iniciado</th>
                    <th scope="col">Functions</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="pv : ${providerList} ">
                    <td th:text="${pv.id}"></td>
                    <td th:text="${pv.name}"></td>
                    <td th:text="${pv.telephone}"></td>
                    <td th:text="${pv.dateInitialize}"></td>
                    <td><a class="btn btn-outline-warning btn-sm" th:href="@{/views/providers/details/}+${pv.id}" th:text="'Editar'"
                            title="'Editar Registro'"></a>
                        <a class="btn btn-outline-danger btn-sm" th:href="@{/views/providers/delete/}+${pv.id}" th:text="'Eliminar'"
                            title="'Borrar Registro'" onclick="return confirm('Seguro de eliminar registro ?');"></a>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    
    
    <footer th:replace="~{Layout/template :: footer}">

    </footer>
</body>

</html>