<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Plantilla</title>
    <link href="/webjars/bootstrap/5.2.0/css/bootstrap.css" rel="stylesheet" />
</head>

<body>

    <!-- Barra de navegacion -->
    <header th:fragment="header">
        <nav class="navbar navbar-expand-sm bg-black navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Stockify</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav active">
                        <li class="nav-item"><a class="nav-link active" th:href="@{/index}">Inicio</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" role="button"
                                data-bs-toggle="dropdown">Management</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/views/categories/">Categories</a></li>
                                <li><a class="dropdown-item" href="#">Providers</a></li>
                                <li><a class="dropdown-item" href="#">Products</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link active" href="#">Contact</a></li>
                        <li class="nav-item"><a class="nav-link active" href="#">About us...</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Contenido -->
    <div class="container"></div>

    <!-- Pie de pagina -->
    <footer th:fragment="footer" class="text-center fixed-bottom">
        <div class="container">
            <p>Copyright Diego Dominguez &copy; -2023</p>
        </div>
        <script type="text/javascript" src="/webjars/jquery/3.6.1/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/5.2.0/js/bootstrap.min.js"></script>
        <script src="/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js"></script>
    </footer>

</body>

</html>