<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace ="~{plantilla/template :: head}">
    
</head>
<body class="bg-dark">
    <header th:replace="~{plantilla/template :: header}"> 

    </header>

    <div class="container text-white text-center">
        <h3>Bienvenidos al Inicio</h3>
        <p>Esta es mi primera pagina web con spring boot</p>
    </div>

    <footer th:replace="~{plantilla/template :: footer}">
        
    </footer>

</body>
</html>